@model List<Bank>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="card shadow-sm" style="max-width:600px">
    <div class="card-header d-flex justify-content-between align-items-center shadow-sm">
        <h6 class="card-title mb-0">Bankalar</h6>

        <button class="btn btn-secondary btn-sm">
            <i class="bi bi-plus-circle me-2"></i> Yeni
        </button>


    </div>
    <div class="card-body">
        <table class="table table-responsive-sm w-100">
            <thead>
                <tr>
                    <th style="font-size:x-small">#</th>
                    <th></th>
                    <th style="font-size:x-small"> Banka Adı </th>
                    <th style="font-size:x-small">Yaratma Tarihi</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var m in Model)
                {
                    <tr>
                        <td class="vertical-align:middle small">@m.Id</td>
                        <td>
                            <img src=@m.IconUrl />
                        </td>
                        <td class="vertical-align:middle row-cols-sm">@m.Name</td>
                        <td class="vertical-align:middle row-cols-sm">@m.CreatedDate</td>
                        <td>
                            <div class="btn-group-sm">
                                <button class="btn btn-sm btn-outline-warning">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger align-middle">
                                    <i class="bi bi-trash3"></i>
                                    <div class="tooltip">Kayıt sil</div>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>
<br />

