@model TransactionType
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="card shadow-sm mx-auto">
    <div class="card-header d-flex justify-content-between align-items-center shadow-sm">
        <h6>Yeni Hareket Türü Yarat</h6>
    </div>
    <div class="card-body">

        <form asp-antiforgery="true" asp-action="Create"  method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" style="width:140px">Hareket Türü Tanımı</span>
                    <input asp-for="Name" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group form-select-sm mb-3">
                    <span class="input-group-text" style="width:140px">Sembol</span>
                    <select id="ProcessType" asp-for="ProcessTypeId" class="form-control" asp-items="ViewBag.ProcessTypes">
                        <option value="">İşlem Türü seçiniz...</option>
                    </select>
                </div>
            </div>
            <div class="card-footer shadow-sm d-flex justify-content-end">
                <div class="form-group">
                    <div class="btn-group">
                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                        <a class="btn btn-secondary" asp-action="Index">Vazgeç</a>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>
@if (ViewBag.Errors is not null)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>

}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
