@model Company
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow-sm mx-auto">
    <div class="card-header d-flex justify-content-between align-items-center shadow-sm">
        <h6>Yeni Banka Yarat</h6>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" style="width:110px">ERP Şirket Kodu</span>
                    <input asp-for="CompanyCode" class="form-control" autocomplete="off" />
                    <span asp-validation-for="CompanyCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" style="width:110px">Şirket Adı</span>
                    <input asp-for="CompanyName" class="form-control" autocomplete="off" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
            </div>
           
            <div class="card-footer shadow-sm d-flex justify-content-end">
                <div class="form-group">
                    <div class="btn-group">
                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                        <a class="btn btn-secondary" asp-action="Index">Vazgeç</a>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}